.div-main-cont {
  width: 1000px;
  /* width: 100% !important; */
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #575757;
}
.setting-page-main-div {
  padding: 5%;
}

.heading-div {
  border-bottom: solid 1px #d1d1d1;
  color: white !important;
  font-size: xx-large;
  padding: 2%;
}

.row-div-css {
  display: flex;
  flex-direction: row;
}

.title-css {
  display: flex;
  flex: 1;
}

.value-css {
  display: flex;
  flex: 2;
}

.row-div-css {
  border-bottom: solid 1px #d1d1d1;
  padding: 2%;
}

.title-css {
  color: white;
}
.value-css {
  color: white;
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  /* color: red; */

  /* justify-content: space-between;
  align-content: flex-end; */

  /* flex: 3; */
}

.checkbox-setting-css {
  display: flex;
  /* flex: 2;  */
  /* align-items: center;
  justify-content: center; */

  /* background-color: blue; */
  background-color: saddlebrown !important;
}
.checkbox-setting-css1 {
  display: flex;

  /* flex: 2; */
  align-items: flex-end;
  justify-content: flex-end;
  background-color: red !important;
  /* background-color: red; */
}

.sub-btn-div {
  display: flex;
  flex: 1;
  /* align-items: center; */
  /* background-color: red; */
  margin: 3%;

  justify-content: flex-end;
}
