.body {
  background-color: #211c1e;
}
.forgetpassword {
  width: 50%;
  background-color: #575757;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* display: flex;
  justify-content: flex-start; */
}
h {
  color: #ffffff;
  font-size: 35px;
}
.two p {
  font-size: 18px;
  color: #ffffff;
  padding-left: 0;
  margin-top: 10px;
  /* display: flex;
  align-self: flex-start; */
}
.one {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  /* border-bottom-width: 100px; */
  border-bottom: 1px black solid;
}
.two {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}
.input {
  background-color: white;
  height: 40px;
  border-width: 0;
  display: flex;
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 55%;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-continue {
  border-radius: 15px;
  height: 40px;
  display: flex;
  align-items: center;
}
.btn-continue1 {
  margin-top: 20px;
  border-radius: 15px;
  height: 40px;
  display: flex;
  align-items: center;
}
.verificationbox {
  display: flex;
  flex-direction: column;
  background: #575757;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
}
.verificationbox p1 {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.verificationbox p2 {
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  /* margin-top: 1px; */
  margin-top: 1px;
  margin-bottom: 40px;
}
.btn-continue2 {
  background-color: transparent;
  border-width: 0;
  color: #6e48db;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .forgetpassword {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 300px;
  }
  h {
    margin-left: 10px;
    font-size: 30px;
  }
  p {
    font-size: 14px;
  }
  .input {
    width: 270px;
  }
  .verificationbox p1 {
    font-size: 20px;
  }
  .verificationbox p2 {
    font-size: 20px;
    margin-top: -20px;
  }
  .verificationbox {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 300px;
  }
  .input {
    width: 75%;
  }
}
