.body{
    background-color: #575757;
    color: #FFFFFF;
    font-size: 43px;
    font-family: Arial;
    display: flex;

}
.body p{
    display: flex;
    padding-left: 35%;
    
    margin: 0px;
}
.gallery{
    display: flex;
    background-color: #A4A4A4;
    width: 33%;
    /* margin-top: 120px; */
    margin-left:40%;
    flex-wrap: wrap;
   

}
.avatar-uploader{
    display: flex;
    justify-content: flex-start;
    border-color:transparent;
    background:transparent;
    }
.avata-uploader > .ant-upload {
    
    display: flex;
    justify-content: center;
    /* border:1px solid; */
    border: 1px solid #FFFFFF;
    border-radius: 0px;
    /* background:transparent; */
    /* width: 128px; */
    /* height: 128px; */
    background: #6E48DB;
    align-self: center;
    margin: 0px;
  }