.main-card {
  max-height: 100vh;
  overflow: scroll !important;
  background-color: #575757 !important;
  width: 70%;
}

.main-card::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.main-card::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.main-card::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

/* Handle on hover */
.main-card::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
